[submodule "third_party/SDL"]
	path = third_party/SDL
	url = https://github.com/Admenri/SDL.git
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/physfs"]
	path = third_party/physfs
	url = https://github.com/icculus/physfs.git
[submodule "third_party/ogg"]
	path = third_party/ogg
	url = https://github.com/xiph/ogg.git
[submodule "third_party/vorbis"]
	path = third_party/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "third_party/DiligentCore"]
	path = third_party/DiligentCore
	url = https://github.com/Admenri/DiligentCore.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/libyuv"]
	path = third_party/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "third_party/opusfile"]
	path = third_party/opusfile
	url = https://github.com/xiph/opusfile.git
[submodule "third_party/opus"]
	path = third_party/opus
	url = https://github.com/xiph/opus.git
