/.vs
/.idea
/build
/out/build
/app/android-project/.gradle
/app/android-project/.idea
/app/android-project/build
/app/android-project/local.properties
/app/android-project/settings.gradle
/app/android-project/app/build
/app/android-project/app/.cxx
